name: ONE-TIME VCPKG ARTIFACT BUILD

on:
  workflow_dispatch: {}

jobs:
  build-artifact:
    name: "Build Vcpkg Artifact for ARM64"
    runs-on: windows-11-arm
    timeout-minutes: 360

    steps:
      - uses: actions/checkout@v4
      - name: Install Vulkan SDK
        shell: pwsh
        run: |
          $vulkan_sdk_version = "1.3.290.0"
          $vulkan_sdk_url = "https://sdk.lunarg.com/sdk/download/$vulkan_sdk_version/warm/InstallVulkanARM64-$vulkan_sdk_version.exe"
          Invoke-WebRequest -Uri $vulkan_sdk_url -OutFile VulkanSDK-Installer.exe
          Start-Process -FilePath ".\VulkanSDK-Installer.exe" -ArgumentList "--accept-licenses", "--default-answer", "--confirm-command", "install" -Wait
          echo "VULKAN_SDK=C:\VulkanSDK\$vulkan_sdk_version" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Clone Citron Source
        run: git clone --recursive "https://git.citron-emu.org/Citron/Emulator.git" citron

      - name: Configure vcpkg.json with all required dependencies
        working-directory: ./citron
        shell: pwsh
        run: |
          Write-Host "Forcing ARM64 build to use vcpkg for ALL dependencies..."
          $vcpkgJsonPath = "vcpkg.json"
          $json = Get-Content $vcpkgJsonPath -Raw | ConvertFrom-Json
          $json.dependencies += "qtbase"
          $json.dependencies += "qtmultimedia"
          $json.dependencies += "openssl"
          $json.dependencies += "libarchive"
          $json.dependencies += "ffmpeg"
          $json.dependencies += "sdl2"
          $json.dependencies += "hidapi"
          $json.dependencies += "getopt"
          $json | ConvertTo-Json -Depth 10 | Set-Content $vcpkgJsonPath
          Write-Host "SUCCESS: Correctly patched vcpkg.json to build all required dependencies."

      - name: Build All Dependencies
        working-directory: ./citron
        shell: bash
        env:
          VCPKG_DEFAULT_HOST_TRIPLET: custom-arm64-windows
        run: |
          # Bootstrap vcpkg
          ./externals/vcpkg/bootstrap-vcpkg.bat
          
          # Create the custom triplet file
          cp ./externals/vcpkg/triplets/arm64-windows.cmake ./externals/vcpkg/triplets/custom-arm64-windows.cmake
          echo 'set(VCPKG_ENV_PASSTHROUGH "VULKAN_SDK")' >> ./externals/vcpkg/triplets/custom-arm64-windows.cmake
          
          # Run the install command.
          ./externals/vcpkg/vcpkg install --triplet=custom-arm64-windows

      - name: Package the Artifact
        shell: pwsh
        run: |
          Compress-Archive -Path ".\citron\externals\vcpkg\installed" -DestinationPath "vcpkg_installed_arm64.zip"

      - name: Upload the Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Vcpkg-ARM64-Artifact
          path: "vcpkg_installed_arm64.zip"
